In [1]:
import re
import os
import glob
import pandas as pd
import numpy as np

In [2]:
path = os.getcwd() + '/data/'
files = glob.glob(path + "/*.csv")

for file in files:
    reg_name = file.split('\\')[-1].split('.')[0]
    globals()['{}'.format(reg_name)] = pd.read_csv(file)

In [10]:
Yeosu

,제목,내용,날짜,평점
0,무난합니다,가격은 조금 있으나 할인 이벤트가 많으니 자세히 찾아보면 할인을 많이 받을 수 있습...,2021년 5월 • 가족,풍선 5개 중 4.0
1,외관에 돌고래있어요,외관이 큰게 아주 멋있어요\n여수는 뚜벅이여행도 즐겁구요\n\n경비만 절약해서 유월...,2020년 12월 • 개인,풍선 5개 중 5.0
2,물고기들 많아요,여수엑스포할때 방문하고 이번에 다시 방문했는데요 여수엑스포때 반문하신분들은 굳이 다...,2020년 7월 • 개인,풍선 5개 중 4.0
3,좋았어요,제주도 좋았지만\n여수도 좋았습니다.\n아이가 너무 좋아해서\n또 오고싶어요.\n벨...,2020년 3월 • 가족,풍선 5개 중 5.0
4,"그냥 갈 곳이라고는 거기뿐인 엑스포 장소,,,, 예정에 엑스포할때 저는 전시참가자 ...","그냥 갈 곳이라고는 거기뿐인 엑스포 장소,,,, 예정에 엑스포할때 저는 전시참가자 ...",2019년 8월,풍선 5개 중 1.0
...,...,...,...,...
851,꽤 좋은 :),말 그대로 거의 모든 지역에 있는 기회가 되는 광장 주변에 즐길 수 있었다. 이곳은...,2016년 3월 • 친구,풍선 5개 중 4.0
852,좋은 곳으로 산책하기에 따뜻한 화창한 날,"여수에서 배 어디 거북이 볼 수 있습니다. 하지만, 여기에 더 쉬울 수 있는 사진을...",2016년 12월 • 가족,풍선 5개 중 4.0
853,이 빠진다,광장에 있는 오래된 마을 이 있었습니다. 애드미럴 누가 이길 수 있는 큰 동상 은 ...,2016년 10월 • 개인,풍선 5개 중 2.0
854,거북이가 알을 배는 이 광장,이러한 이유 때문에 높은 등급이 있는 거북 배. 이 배는 유명한 스타일이 광장 옆에...,2015년 12월 • 커플,풍선 5개 중 4.0
855,"보트 순물질, 하지만 많은 다른",15분 전에 도착한 우리는 불행하게도 마감 시간 (오후 6).\n빨리 가서 배 전시...,2015년 11월 • 친구,풍선 5개 중 3.0

In [9]:
re.sub('[^ㄱ-ㅎ가-힣]',' ',Yeosu['내용'][0])

'가격은 조금 있으나 할인 이벤트가 많으니 자세히 찾아보면 할인을 많이 받을 수 있습니다  작으나 알차게 구성을 해놓았습니다 '

In [12]:
Yeosu.평점.str[-3:]

0      4.0
1      5.0
2      4.0
3      5.0
4      1.0
      ...
851    4.0
852    4.0
853    2.0
854    4.0
855    3.0
Name: 평점, Length: 856, dtype: object

In [16]:
Yeosu.날짜[0].split('월')[0] + '월'

'2021년 5월'

In [25]:
data = pd.read_excel('../../2020년_국민여행조사_국내여행.xlsx')
data.head()

,ID,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,SA1_6,D_TRA1_CHECK,D_TRA1_CASE,D_TRA1_SYEAR,...,국내_여행방문지_기타당일1,국내_여행방문지_기타당일2,국내_여행방문지_기타당일3,국내_여행방문지_기타당일4,국내_여행방문지_기타당일5,국내_여행방문지_기타당일6,국내_여행방문지_기타당일7,국내_여행방문지_기타당일8,국내_여행방문지_기타당일9,국내_여행방문지_기타당일10
0,11010530201_1,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11010530201_10,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11010530201_17,0,1,0,0,0,0,Y,2.0,2020.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11010530201_2,0,0,1,0,0,0,NaN,3.0,2020.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11010530201_22,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
data.shape

(50710, 2107)

In [27]:
data.columns

Index(['ID', 'SA1_1', 'SA1_2', 'SA1_3', 'SA1_4', 'SA1_5', 'SA1_6',
       'D_TRA1_CHECK', 'D_TRA1_CASE', 'D_TRA1_SYEAR',
       ...
       '국내_여행방문지_기타당일1', '국내_여행방문지_기타당일2', '국내_여행방문지_기타당일3', '국내_여행방문지_기타당일4',
       '국내_여행방문지_기타당일5', '국내_여행방문지_기타당일6', '국내_여행방문지_기타당일7', '국내_여행방문지_기타당일8',
       '국내_여행방문지_기타당일9', '국내_여행방문지_기타당일10'],
      dtype='object', length=2107)

In [ ]:
# ID별 방문지역, 지출비용, 방문목적, 방문시기
cols = ['ID','SA1_1','SA1_2','SA1_3','SA1_4','SA1_5','SA1_6']

In [30]:
data.head(20)

,ID,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,SA1_6,D_TRA1_CHECK,D_TRA1_CASE,D_TRA1_SYEAR,...,국내_여행방문지_기타당일1,국내_여행방문지_기타당일2,국내_여행방문지_기타당일3,국내_여행방문지_기타당일4,국내_여행방문지_기타당일5,국내_여행방문지_기타당일6,국내_여행방문지_기타당일7,국내_여행방문지_기타당일8,국내_여행방문지_기타당일9,국내_여행방문지_기타당일10
0,11010530201_1,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11010530201_10,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11010530201_17,0,1,0,0,0,0,Y,2.0,2020.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11010530201_2,0,0,1,0,0,0,NaN,3.0,2020.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11010530201_22,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,11010530201_3,0,0,1,0,0,1,NaN,3.0,2020.0,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,11010530201_35,0,0,1,0,0,0,NaN,3.0,2020.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11010530201_55,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,11010530201_8,0,0,1,0,0,0,NaN,3.0,2020.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,11010530201_9,1,0,0,0,0,0,Y,1.0,2020.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11010560051_29800,1,0,0,0,0,0,Y,1.0,2020.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11010560051_29801,0,0,0,0,2,0,NaN,5.0,2020.0,...,9.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11010560051_29803,1,0,0,0,0,0,Y,1.0,2020.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,11010560051_29806,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,11010560051_29809,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,11010560051_29812,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,11010560051_29813,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,11010560051_29824,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11010560051_29835,1,0,0,0,1,0,NaN,5.0,2020.0,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,11010560051_29846,1,0,0,0,0,0,Y,1.0,2020.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
data.iloc[11,110:120]

D_TRA2_CHECK         NaN
D_TRA2_CASE          5.0
D_TRA2_SYEAR      2020.0
D_TRA2_SMONTH        2.0
D_TRA2_SDAY         19.0
D_TRA2_EYEAR      2020.0
D_TRA2_EMONTH        2.0
D_TRA2_EDAY         19.0
D_TRA2_S_Day         0.0
D_TRA2_COST      50000.0
Name: 11, dtype: object